* {margin:0;padding:0}

.a{
    background-color: azure;
    color: black;
    font-family: Arial;
    font-size:14px;
    line-height:20px;
}

.main{
    width:960px;
    margin:1px auto;
    display:block;
    overflow:hidden;
}


.header img{
    width:960px;
    height:250px;
}

.mainmenu{
    background: rgb(125, 233, 233);
    overflow:hidden;
}
.mainmenu ul{
    margin:0;
    padding:0;
    list-style:none;
}
.mainmenu ul li{
    float:left;
    border-right:2px solid #ddd;
}
.mainmenu ul li a{
    display:block;
    color:#000;
    padding:10px 46.5px;
    text-decoration:none;
}
.mainmenu ul li a:hover{
    background:#fff;
}

.maincontent{
    margin-top:40px;
} 



.slider img{
    float: right;
    margin-left: 10px;
    width: 400px;
    height: 280px;
    margin-top: 40px;

}


 .maincontent h1 {
     text-align: center;
     margin-bottom: 20px;
     font-size: 35px;
     color: rgb(74, 74, 80);
 }

 .maincontent p{
     font-size: 17px;
 }

 .b ul {
 
     font-size: 17px;
 }
 .b h1{
     font-size: 35px;
 }

 .b img{
    float: left;
    margin-right: 35px;
    width: 400px;
    height: 290px;
    margin-top: 40px;
 }


 * {margin:0;padding:0}


.c p{
    font-size: 35px;
    font-weight: bolder;
}



table {
    border-collapse: collapse;
    width: 50%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #000;
}

tr:hover {background-color:#beb7b7;}








.myForm {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 0.9em;
    width: 60em;
    padding: 2em;
    
    }
    
    .myForm fieldset {
    border: none ;
    padding:0;
    }
    
    .myForm legend,
    .myForm label {
    padding: 0.2em;
    font-weight: bold;
    font-size: 1.0em;
    }
    
    .myForm label.choice {
    font-size: 0.9em;
    font-weight: normal;
    }
    
    .myForm label {
    text-align: left;
    display: block;
    }
    
    .myForm input[type="text"],
    .myForm input[type="tel"],
    .myForm input[type="email"],
    .myForm input[type="password"],
    .myForm input[type="datetime-local"],
    .myForm select,
    .myForm textarea {
    float: right;
    width: 60%;
    border: 1px solid #ccc;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 0.9em;
    padding: 0.0em;
    }
    
    .myForm textarea {
    height: 100px;
    }
    
    .myForm input[type="radio"],
    .myForm input[type="checkbox"] {
    margin-left: 40%;
    }
    
    .myForm button {
    padding: 1em;
    border-radius: 0.5em;
    background: rgb(157, 147, 173);
    border: none;
    font-weight: bold;
    margin-left: 40%;
    margin-top: 1.8em;
    }
    
    .myForm button:hover {
    background: #ccc;
    cursor: pointer;
    }

 #table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  
}

#table td, #table th {
    border: 1px solid #ddd;
   
    text-align: center;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
}
#table td button{
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    background-color:#00bcd4;
    color: white;
    font-weight: bold;
}
#table td button:hover{
    background-color: mediumspringgreen;
}



/* Top Bar of Home page */

.row{
    display: flex; 
    width: 100%;
    color:#0d6efd;
    margin-right:350px;
    padding-right: 50px;
    justify-content: space-around; 
    margin-top: 5px;
    text-align:center;
 
}
#sp-top-bar{

    margin-left: 100px;
    padding-left: 300px;
   

}
.social-icons {
  
    display: flex; 
    list-style: none;
    margin-left: 100px;
    gap: 15px;  
  
 
}

.sp-contact-info {
    display: flex; 
    list-style: none;
    gap: 15px;
 
}
.card-group{
    justify-content: space-between;
    gap: 10px;
    padding: 14px;
}





/* Card of Home page */


.card, .card-img-top , .card-img-top {
    background: #00bcd4;
   
}


.container{
 max-width: fit-content;
 width: 100%;
}

/* Button of Home page */

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

/* footer of Home page */

.footer {
    width: 100%;
    position: relative;
    background-color: crimson;
    height:50px; 
    padding-top: 15px;
    bottom:0;
    text-align:center;
    color: white;
  

}


/* Form design */

section#Pathform {
    margin: 100px;
    background-color: #f2f2f2;
    padding: 100px;
    box-sizing: border-box;
    box-shadow: 10px 10px 60px #6252a5;
 
}

input [type=text], select  {
    width: 100%;

    
   
}

  
  button[type=print] {
    width: 100%;
    padding: 14px 20px;
   
   
  }
  



/*-----------Responsive Moode..............*/

/* 
@media screen and (max-width: 380px) {
     .row, .sp-top1, .sp-top2 {
      display: none;
     
      
    }
  } */


